name: "Nightly CPU Tests"

on:
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch: {}

jobs:
  nightly-test:
    runs-on: ubuntu-22.04
    env:
      JUPYTER_PLATFORM_DIRS: "1"

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'

    - name: Install
      run: |
        pip install -U pip wheel
        pip install -v -e . -r ./tests/requirements.txt  "torch>=0.0.0a1" "torchvision>=0.0.0a1" "torchaudio>=0.0.0a1" --extra-index-url https://download.pytorch.org/whl/nightly/cpu 
        # Test PPE is importable with minimum dependency
        python -c 'import pytorch_pfn_extras'

    - name: Test CPU only
      run: |
        make cputest
