name: "Pre-review Tests"

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - torch: '2.2.*'
            python: '3.9'
          - torch: '2.3.*'
            python: '3.9'
          - torch: '2.4.*'
            python: '3.9'
          - torch: '2.5.*'
            python: '3.9'
          - torch: '2.6.*'
            python: '3.9'
          - torch: '2.7.*'
            python: '3.9'
          - torch: '2.8.*'
            python: '3.9'
          - torch: '2.9.*'
            python: '3.13'
          - torch: '2.10.*'
            python: '3.13'

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cache
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}-${{ matrix.torch }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install
      run: |
        pip install -U pip wheel
        pip install -e . -r ./tests/requirements.txt torch==${{ matrix.torch }} --extra-index-url https://download.pytorch.org/whl/cpu
        # Test PPE is importable with minimum dependency
        python -c 'import pytorch_pfn_extras'

    - name: Code Style
      run: |
        make lint

    - name: Code Style (Examples)
      run: |
        make example_lint

    - name: Test CPU only
      run: |
        make cputest
