name: "Publish to PyPI"
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Dependencies
        run: python3 -m pip install build --user
      - name: Build Packages
        run: python3 -m build --sdist --outdir dist/ .
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist

  publish:
    needs: build
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Enumerate Files
        run: find dist -ls
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
